@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.header-img {
  width: 100%;
  height: 700px;
  background: url('https://media.tacdn.com/media/attractions-splice-spp-674x446/07/38/d7/89.jpg');
  background-size: cover;
}


   table
    {
      border-collapse:collapse;
      width:20%;
      color:black;
    }


tr
{
  background-color:white;
  color:black;
}

    table,th,td
    {
      border:2px solid white;
    }

.menu {
  float: right;
}
.menu ul {
  list-style: none;
  padding: 0
}

h1 {
  display: block;
  color: #fff;
  font-size: 5em;
   text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding: 255px 200px;
}

h4 {
  display: block;
  color: #fff;
  font-size: 0.3em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

body {
color: black;
background: white
}

footer{
padding: 25px 25px;
margin: 50
}
