/*
===============
Variables
===============
*/
@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);


* {
     box-sizing: border-box;
  }
     body, html {
     margin: 0 auto;
     padding: 0;
  }
.header-img {
  width: 100%;
  height: 800px;
  background: url('https://media.tacdn.com/media/attractions-splice-spp-674x446/07/38/d7/89.jpg');
  background-size: cover;
}

.home-container {
  width: 100%;
  height: 500px;
  background-color :  white;
  padding-bottom: 4rem;
}

.home-container-black {
  width: 100%;
  height: 800px;
  background-color :  black;
}



.boxing {
box-sizing : content-box;
margin-bottom : 2rem;
margin-left : 0rem;
margin-right : 0rem;
padding : 1rem;
/* background-color :  #f7f7f7; off-white */
background-color :  white;
}


table
    {
      border-collapse:collapse;
      color:black;
    }


tr
{
  background-color:white;
  color:black;
}

  th,td
    {
      border:2px solid white;
    }

h2 {
  display: block;
  color: #fff;
  font-size: 5em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding: 330px 300px;
}

h2a {
  display: block;
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding: 330px 300px;
}

h2b {
  display: block;
  color: #fff;
  font-size: 0.5em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

@media screen and (min-width: 576px) {
  .player-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}


/*
======
Player
======
*/

.player {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.player:hover {
  box-shadow: var(--darkShadow);
}
.player img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.player-footer {
  padding: 1.5rem;
}
.player-footer h3,
.player-footer h4,
.player-footer p {
  margin-bottom: 0.3rem;
}
.player-footer h3 {
  font-size: 2rem;
}
.player-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}

/*
======
Players List
======
*/

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.player-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}

/* THIS IS THE PROBLEM */
img {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --manutdred: #c70101;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  /* BELOW ADDED FOR NAV BAR ADD ON */
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-5b: red;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
  padding-right: 0.5rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: black;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}


.myfooter {
  background: black;
  height: 7rem;
  display: flex;
  body-color: white;
  align-items: center;
  box-shadow: var(--lightShadow);
  z-index: 9999;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

.myfooter .p {
color: white !important;
text : white;
font-color : white;
}

/*
===============
Navbar
===============
*/
navtop {
  background: black;
  height: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: var(--lightShadow);
   z-index: 9999;
      margin: 0;

      /* notice below: */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
}

nav {
  background: var(--manutdred);
  height: 5.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
    z-index: 9999;

  box-shadow: var(--lightShadow);
      margin: 0;
      position: fixed;
           left: 0;
            right: 0;

}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 80px;
}

.crest {
  height: 30px;
}


.logo-home {
  height: 500px;
  padding-top: 4rem;
  padding-left: 4rem;
  display:inline-block;
  float: left;
}

p2{
 font-size: 2rem;
 font-color: black;
 display:inline-block;
 padding-top: 1rem;
}

.links a {
  color: var(--white);
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--white);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
  padding-right: 1.5rem
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 15rem;
}
@media screen and (min-width: 800px) {
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
  .nav-header {
    padding: 0.5;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--white);
    transition: black;
  }
  .social-icons a:hover {
    color: black);
  }
}

/*
======
Buttons
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: #c70101;
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--manutdred);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

.container {
padding-left: 0rem;
padding-left: 0rem;
}

.navcontainer {
padding-bottom: 100px;
}

.teamcontainer {
padding-top: 8rem;
padding-left: 0rem;
padding-left: 0rem;
padding-bottom: 0rem;
}


/* block quote stuff */
@import url('https://fonts.googleapis.com/css?family=Special+Elite');


body {

}

blockquote {
    	font-family: 'Special Elite', cursive;
    	background: white;
    	color: #3f3f5a;
    	display: flex;
    	align-items: center;
    	justify-content: center;

	font-weight: 100;
	font-size: 2rem;
	max-width: 1300px;
	line-height: 1;
	position: relative;
	margin: 1;
	padding-left: 10rem;
	  z-index: 1;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: black;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
	padding-left: 8rem;
}

blockquote:before {
	content: '“';
	left: -3rem;
	top: -4rem;
}

blockquote:after {
	content: '”';
	right: -2rem;
	bottom: -3rem;
}

cite {
	line-height: 3;
	padding-left: 10rem;
	text-align: center;
}

.quote-container {
  width: 100%;
  height: 400px;
  background-color :  white;
}