@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.header-img {
  width: 100%;
  height: 900px;
  background: url('https://media.tacdn.com/media/attractions-splice-spp-674x446/07/38/d7/89.jpg');
  background-size: cover;
}

.menu {
  float: right;
}
.menu ul {
  list-style: none;
  padding: 0
}


body {
color: black;
background: white
}

footer{
padding: 25px 25px;
margin: 50
}





/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 80px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 80px;
  font-weight: bold;
  align:center;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: black;
  color: white;
}

/* Style the active/current link
.header a.active {
  background-color: red;
  color: white;
}*/

/* Float the link section to the right */
.header-right {
  float: right;
}




.header img {
  width: 15%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

